In [1]:
import pandas as pd
p = "/home/gordon/work/Where-To-Put-Your-Money-In-Hard-Times/data/"

In [4]:
broker = pd.read_csv(p + '/personal_assets/chuckBrokerage_positions.csv')
roth = pd.read_csv(p + '/personal_assets/chuckRoth_positions.csv')
moveOn = pd.read_csv(p + '/personal_assets/yahooFinancial_moveOn.csv')
potential = pd.read_csv(p + '/personal_assets/yahooFinancial_potential.csv')

broker_pos = list(broker.Symbol[:27])
roth_pos = list(roth.Symbol[:9])
moveOn_pos = list(moveOn.Symbol)
potential_pos = list(potential.Symbol)

In [19]:
pos_lst = []
len_lst = []
def appends(lst):
    print(len(lst))
    len_lst.append(len(lst))
    for l in lst:
        pos_lst.append(l)

appends(broker_pos)
appends(roth_pos)
appends(moveOn_pos)
appends(potential_pos)
len(pos_lst)

c = 0.0
for l in len_lst:
    c += float(l)

pos_set = set(pos_lst)
pos_list = list(pos_set)
pos_list.sort()
print(len(pos_list))

27
9
10
142

188

172

In [13]:
import pickle

def pickle_dem(lst, save_name):
    p2 = '/home/gordon/work/Where-To-Put-Your-Money-In-Hard-Times/data/tickers/'
    new_path = p2 + save_name
    open_file = open(new_path, "wb")
    pickle.dump(lst, open_file)
    open_file.close()

In [15]:
pickle_dem(broker_pos, 'broker_pos.pkl')
pickle_dem(roth_pos, 'roth_pos.pkl')
pickle_dem(moveOn_pos, 'moveOn_pos.pkl')
pickle_dem(potential_pos, 'potential_pos.pkl')

In [24]:
p3 = '/home/gordon/work/Where-To-Put-Your-Money-In-Hard-Times/data/'
lst = ['broker_pos', 'roth_pos', 'moveOn_pos', 'potential_pos']

In [35]:
from pandas.io.pickle import read_pickle
import yfinance as yf

for l in lst:
    new = p3 + 'tickers/' + l + '.pkl'
    tic_lst = read_pickle(new)
    per, inter = '1y', '1d'
    df = yf.download(tic_lst, period=per, interval=inter)['Adj Close']
    df.to_pickle(p3 + 'raw/' + l + '_data_' + per + '_' + inter + '.pkl')

[*********************100%***********************]  26 of 26 completed
[*********************100%***********************]  9 of 9 completed
[*********************100%***********************]  10 of 10 completed
[*********************100%***********************]  142 of 142 completed

In [36]:
fd = read_pickle(p3 + 'raw/broker_pos_data_10y_1d.pkl')
fd
# /home/gordon/work/Where-To-Put-Your-Money-In-Hard-Times/data/

,AAPL,ARKG,ARKK,ARKQ,ARKW,BLDP,BLNK,CRSP,CURLF,FCEL,FUBO,GBTC,GTBIF,JMIA,LAZR,LMND,NET,NTLA,PLTR,PLUG,QS,SAIL,SNOW,SQ,TSLA,VLDR
Date,,,,,,,,,,,,,,,,,,,,,,,,,,
2011-01-07,10.355506,NaN,NaN,NaN,NaN,1.620000,902.500000,NaN,NaN,299.519989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.300000,NaN,NaN,NaN,NaN,5.648000,NaN
2011-01-10,10.550530,NaN,NaN,NaN,NaN,1.630000,950.000000,NaN,NaN,289.440002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.600000,NaN,NaN,NaN,NaN,5.690000,NaN
2011-01-11,10.525573,NaN,NaN,NaN,NaN,1.630000,1000.000000,NaN,NaN,279.359985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.800000,NaN,NaN,NaN,NaN,5.392000,NaN
2011-01-12,10.611223,NaN,NaN,NaN,NaN,1.640000,975.000000,NaN,NaN,286.559998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.200000,NaN,NaN,NaN,NaN,5.392000,NaN
2011-01-13,10.650039,NaN,NaN,NaN,NaN,1.630000,975.000000,NaN,NaN,288.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.100000,NaN,NaN,NaN,NaN,5.244000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-30,133.720001,96.040001,127.099998,76.550003,147.610001,23.559999,45.240002,161.570007,11.930,11.740000,33.310001,32.900002,23.84,42.560001,36.139999,129.889999,77.529999,56.580002,25.100000,34.189999,98.290001,53.660000,300.920013,221.039993,694.780029,24.500000
2020-12-31,132.690002,93.260002,124.489998,76.290001,146.360001,23.400000,42.750000,153.110001,11.972,11.170000,28.000000,32.000000,24.50,40.349998,34.000000,122.500000,75.989998,54.400002,23.549999,33.910000,84.449997,53.240002,281.399994,217.639999,705.669983,22.820000
2021-01-04,129.410004,93.139999,124.690002,76.839996,145.770004,22.530001,37.505001,158.009995,12.890,10.610000,24.240000,35.080002,24.90,35.680000,31.340000,113.360001,74.589996,55.910000,23.370001,32.169998,49.959999,52.349998,278.239990,221.160004,729.770020,21.910000
2021-01-05,131.009995,94.375000,127.760002,78.699997,149.710007,23.080000,40.590000,160.619995,13.253,11.200000,27.330000,39.410000,25.25,36.240002,30.049999,122.000000,75.139999,61.009998,24.600000,32.549999,59.500000,53.349998,283.829987,229.750000,735.109985,22.670000
2021-01-06,126.599998,95.279999,128.229996,79.089996,148.039993,24.305000,41.369999,163.850006,14.350,12.300000,27.170000,43.930000,27.18,33.209999,30.670000,119.339996,73.269997,66.739998,23.540001,35.000000,63.029999,53.990002,268.019989,226.889999,755.979980,22.690001

In [45]:
fdd = read_pickle(p3 + 'raw/nasdaq_10y_1d.pkl')
fdd

,AACG,AACQ,AACQU,AACQW,AAL,AAME,AAOI,AAON,AAPL,AAWW,AAXJ,AAXN,ABCB,ABCL,ABCM,...,ZM,ZNGA,ZNTEU,ZNTL,ZS,ZSAN,ZUMZ,ZVO,ZVZZC,ZVZZT,ZWZZT,ZXYZ.A,ZXZZT,ZYNE,ZYXI
Date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2011-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.281874,NaN,NaN,NaN,10.276255,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-01-07,0.039149,NaN,NaN,NaN,10.747252,1.903669,NaN,7.247061,10.355506,52.889999,52.952225,4.790000,10.165161,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,25.639999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3482
2011-01-10,0.038945,NaN,NaN,NaN,10.813245,1.903669,NaN,7.303931,10.550530,51.950001,52.197300,4.780000,10.072579,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,25.600000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3482
2011-01-11,0.038640,NaN,NaN,NaN,10.341875,1.829741,NaN,7.358095,10.525573,51.970001,52.595509,4.870000,10.026293,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,24.510000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3482
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-29,1.190000,10.54,11.32,NaN,15.860000,2.100000,8.80,66.720001,134.869995,54.000000,88.160004,123.330002,37.250004,39.000000,20.299999,...,353.750000,9.61,10.45,54.540001,197.839996,0.558,36.610001,4.20,NaN,NaN,NaN,NaN,NaN,3.270,13.3200
2020-12-30,1.190000,10.47,11.22,NaN,16.150000,2.100000,8.60,66.489998,133.720001,54.610001,89.699997,123.879997,37.959999,41.099998,22.450001,...,353.399994,9.72,10.41,55.700001,201.309998,0.564,36.619999,4.44,NaN,NaN,NaN,NaN,NaN,3.320,14.0600
2020-12-31,1.190000,10.63,11.24,NaN,15.770000,2.060000,8.51,66.629997,132.690002,54.540001,89.610001,122.529999,38.070000,40.240002,21.549999,...,337.320007,9.87,10.52,51.939999,199.710007,0.527,36.779999,4.74,NaN,NaN,NaN,NaN,8.99,3.300,13.4600
2021-01-04,1.180000,10.66,11.30,NaN,15.130000,2.140000,8.76,64.709999,129.410004,55.389999,90.430000,116.849998,38.099998,39.099998,20.469999,...,359.980011,9.77,10.58,52.720001,196.089996,0.582,35.700001,4.61,NaN,NaN,22.0,NaN,NaN,3.325,13.8800
2021-01-05,1.230000,10.56,11.29,2.12,15.430000,2.600000,8.91,65.440002,131.009995,53.790001,92.650002,122.300003,39.110001,38.509998,20.290001,...,360.829987,9.84,10.59,52.119999,193.479996,0.805,36.080002,5.13,NaN,10.02,NaN,NaN,NaN,3.390,13.5100

In [39]:
lst = read_pickle('/home/gordon/work/Where-To-Put-Your-Money-In-Hard-Times/data/tickers/sp500_ticker_list.pkl')

In [42]:
z = yf.download(lst, period='10y', interval='1d')['Adj Close']
z

[*********************100%***********************]  505 of 505 completed

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,ADI,ADM,ADP,ADSK,AEE,...,WST,WU,WY,WYNN,XEL,XLNX,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2011-01-07,27.319567,10.747252,60.085354,10.355506,NaN,29.871372,9.890000,18.505201,39.337559,32.040001,29.174738,24.352690,33.125191,40.759998,19.384708,...,18.668112,13.947884,14.578796,84.570549,16.623915,24.010040,52.035751,32.503872,22.016569,NaN,29.304129,48.525909,37.599998,21.653538,NaN
2011-01-10,27.713411,10.813245,60.532005,10.550530,NaN,29.700321,10.020000,18.340698,38.989086,32.959999,29.260115,24.459394,33.138954,40.869999,19.172291,...,18.686420,13.824318,14.741797,84.549171,16.518740,24.202316,51.719078,32.841091,22.230890,NaN,29.345552,48.904221,37.709999,21.265766,NaN
2011-01-11,28.186016,10.341875,60.172733,10.525573,NaN,29.991089,10.090000,18.302435,39.523964,32.980000,29.516245,24.550865,33.290440,40.799999,19.405262,...,18.750507,13.984222,14.975688,83.402397,16.462654,24.442652,52.104588,33.084625,22.367271,NaN,29.156197,50.648159,38.509998,21.424400,NaN
2011-01-12,28.310732,10.257028,60.978668,10.611223,NaN,29.811502,10.240000,18.371943,40.431625,33.570000,29.524019,24.817638,33.724201,40.529999,19.473785,...,18.494162,13.918812,15.273355,83.181564,16.504717,24.827200,52.717278,33.983864,22.464691,NaN,29.233509,51.395580,38.549999,21.168823,NaN
2011-01-13,28.205709,10.266455,61.163158,10.650039,NaN,30.256197,10.290000,18.290859,40.415417,33.380001,29.376537,25.328325,33.400604,41.080002,19.281925,...,18.539932,13.889738,15.124519,83.138847,16.441614,24.747084,52.806759,34.002613,22.055532,NaN,29.084814,51.155663,38.790001,20.974939,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-30,117.197800,16.150000,157.660004,133.720001,105.269997,96.959999,323.920013,108.440002,257.540009,497.450012,146.179993,49.910000,173.809998,299.410004,76.970001,...,279.940002,21.780001,33.650002,113.400002,65.650002,142.100006,41.599998,51.459999,22.889999,100.779999,109.510002,152.220001,383.750000,43.220001,164.270004
2020-12-31,118.295998,15.770000,157.509995,132.690002,107.150002,97.760002,324.200012,109.489998,261.209991,500.119995,147.729996,50.410000,176.199997,305.339996,78.059998,...,283.309998,21.940001,33.529999,112.830002,66.669998,141.770004,41.220001,52.360001,23.190001,101.790001,108.559998,154.089996,384.329987,43.439999,165.500000
2021-01-04,118.639999,15.130000,157.339996,129.410004,105.410004,96.500000,316.730011,109.110001,256.459991,485.339996,146.020004,49.869999,168.960007,296.839996,76.129997,...,285.570007,21.770000,32.810001,106.900002,65.660004,142.429993,41.500000,53.750000,22.459999,99.690002,105.820000,153.160004,378.130005,42.930000,163.589996
2021-01-05,119.610001,15.430000,157.169998,131.009995,106.500000,97.760002,322.600006,110.459999,257.920013,485.690002,148.630005,50.840000,168.490005,301.700012,75.760002,...,291.019989,22.100000,33.119999,110.190002,65.019997,144.229996,43.500000,55.290001,22.850000,99.570000,105.830002,155.809998,380.570007,43.610001,164.729996
2021-01-06,122.889999,15.520000,166.250000,126.599998,105.580002,106.169998,321.609985,110.230003,260.739990,466.309998,149.300003,52.900002,167.899994,302.869995,76.389999,...,294.140015,23.120001,33.290001,110.849998,66.459999,141.220001,44.610001,57.959999,23.200001,103.769997,106.410004,160.250000,394.820007,48.509998,167.149994

In [43]:
z.to_pickle('/home/gordon/work/Where-To-Put-Your-Money-In-Hard-Times/data/raw/sp500_10y_1d.pkl')