In [12]:
out = np.array([
    25,
    25,
    500,

    500,
    500,
    500,
    500,
    500,
    500,

    500,
    500,
    1000,

    500,
    750,
    750,

    1000,
    
    2000,
    1600
])

In [16]:
ins = np.array([
    -2500
])

In [47]:
import numpy as np
o = out.sum().astype(float)
i = ins.sum().astype(float)
oi = (o + i).astype(float)
oo = "${:,.2f}".format(out.sum())
ii = "${:,.2f}".format(ins.sum())
ooii = "${:,.2f}".format(oi)
n = 14121.21
nn = "${:,.2f}".format(14041.21)
tg = n - oi
tgg = "${:,.2f}".format(tg)
r = tg / oi
rr = "{:,.2f}%".format(r)

print(f'money out = {oo},\n money in {ii}\n > net = {ooii}\n now = {n}\n total gain = {tgg}\n return = {rr}')

money out = $12,150.00,
 money in $-2,500.00
 > net = $9,650.00
 now = 14121.21
 total gain = $4,471.21
 return = 0.46%

In [48]:
"${:,.2f}".format(n + 53460.94 + 2700 + 16522 + 2950)

'$89,754.15'